.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
.images{
    display: flex;
    align-items: center;
    gap: 10px;
}
.accountImg {
    /* opacity: 0.6; */
    cursor: pointer;
}